body{
	background-color: whitesmoke;
}
#navigation{
	width: 50%;
	margin: 0 auto;
}
#navigation #nav{
	display: flex;
}
#navigation #nav #active{
	background-color: rgba(0, 217, 255, 0.5);
}
#navigation #nav a.menu#active:hover{
	background-color: rgba(0, 217, 255, 0.5);
	border:  solid 1px cornflowerblue; 		   /* делаем цветную рамку */
}

#navigation #nav a.menu{
	flex-basis: auto;
	flex-grow: 1;
	text-align: center;
    margin: 0 10px;
	padding: 30px;							 /*делаем отступы до рамки */
	border:  solid 1px burlywood; 		   /* делаем цветную рамку */
	border-radius: 7px;		 				/* делаем скругление рамки */
	cursor: default;		 				/* убираем указательный курсор */
	text-decoration: none;  				/* убираем подчеркивание */
	transition-duration: 0.4s;
	color: black;
}
#navigation #nav a.menu:hover{
	background-color: cornflowerblue;
	border:  solid 1px cornflowerblue; 		   /* делаем цветную рамку */
	color: white;
}

#words{
	margin-top: 150px;
}
ul{
	width: 40%;
	margin: 0 auto;
	list-style-type: circle;
	cursor: default;
	min-width: 800px;
}
li{
	padding: 10px;
	width: 100%;
	border-radius: 50%;
}
ul li:hover{
	list-style-type: square;
}
b{
	color: black;
}
b:hover{
	color: blue;
}



#footer{
	height: 45px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f213af;
}
#footer div{
	margin: 0 auto;
	/* width: 20%; */
	text-align: center;
	margin-top: 13px;
}
#footer div span{
	color: #fff;
	font-size: 20px;
	transition-duration: 0.4s;
}